In [0]:
# 1. Write a query that returns a list of all the unique vaues in the 'country' field

SELECT DISTINCT country
FROM ksprojects;

In [0]:
# 2. How many unique values are there for the main_category field?

SELECT COUNT(DISTINCT main_category) as count_main_category, COUNT(DISTINCT category) as count_category
FROM ksprojects;

# Answer: 15 & 158

In [0]:
# 3. Get a list of all the unique combinations of main_category and category fields, sorted A to Z by main_category

SELECT DISTINCT main_category, category
FROM ksprojects
ORDER BY main_category;

In [0]:
# 4. How many unique categories are in each main_category?

SELECT main_category, COUNT(DISTINCT category)
FROM ksprojects
GROUP BY main_category
ORDER BY main_category;

In [0]:
# 5. Write a query that returns the average number of backers per main_category, rounded to the nearest whole number and sorted from high to low

SELECT main_category, round(AVG(backers),0) as avg_backers
FROM ksprojects
GROUP BY main_category
ORDER BY avg_backers DESC;

In [0]:
# 6. Write a query that shows, for each category, how many campaigns were successful and the average difference per project between dollars pledged and the goal

SELECT category, avg(usd_pledged - goal) as raised_over_goal, count(*)
FROM ksprojects
WHERE state = 'successful'
GROUP BY category;

In [0]:
# 7. Write a query that shows, for each main category, how many projects had zero backers for that category and the largest goal amount for that category (also for projects with zero backers)

SELECT main_category, MAX(goal), COUNT(*)
FROM ksprojects
WHERE backers = 0
GROUP BY main_category;

In [0]:
# 8. For each category, find the average USD per backer, and return only those results for which the average USD per backer is < $50, sorted high to low
# HINT: Division by NULL is not possible, so use NULLIF to replace NULLs with 0 in the average calculation

SELECT category, avg(usd_pledged/NULLIF(backers, 0)) as avg_pledge_per_backer
FROM ksprojects
GROUP BY category
HAVING avg(usd_pledged/NULLIF(backers, 0)) < 50
ORDER BY avg_pledge_per_backer DESC;

In [0]:
# 9. Write a query that shows, for each main_category, how many successful projects had between 5 and 10 backers

SELECT main_category, COUNT(*)
FROM ksprojects
WHERE state = 'successful' AND backers BETWEEN 5 AND 10
GROUP BY main_category;

In [0]:
# 10. Get a total of the amount 'pledged' for each type of currency grouped by its respective currency. Sort by 'pledged' from high to low

SELECT currency, SUM(pledged)
FROM ksprojects
GROUP BY currency
ORDER BY SUM(pledged) DESC;

In [0]:
# 11. Excluding Games and Technology records in the main_category field, return the total of all backers for successful projects by main_category where the total was more than 100,000.
# Sort by main_category from A to Z

SELECT main_category, SUM(backers)
FROM ksprojects
WHERE main_category NOT IN('Games', 'Technology') and state = 'successful'
GROUP BY main_category
HAVING SUM(backers) > 100000
ORDER BY main_category;